<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
  <title>Wagner Code</title>
</head>

<body>

  <i class="bi bi-list menu-mobile"></i>

  <aside id="header">
    <section class="profile">
      <img src="../static/img/perfil.JPG" alt="Foto do Wagner">
      <h1>Wagner Ferreira</h1>
      <div class="social-links mt-4 text-center">
        <a target="_blank" href="https://www.linkedin.com/in/wagnercalveli/">
          <i class="bi bi-linkedin"></i>
        </a>
        <a target="_blank" href="https://github.com/WCCFERREIRA">
          <i class="bi bi-github"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/wagner_calveli/">
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </section>
    <nav id="navbar" class="nav-menu">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i> Portfólio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
        </li>
      </ul>

    </nav>
  </aside>

  <main id="main">

    <section id="inicio" class="row m-0 p-0">
      <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-white text-shadow">Wagner Ferreira</h2>
        <span id="subtitle" class="text-white text-shadow">Líder, Vendedor e Desenvolvedor</span>
      </div>

      <div class="col-md-7 d-flex justify-content-end align-items-end">
        <div id="arraste" class="d-flex align-item-center">
          <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
          <a href="#sobre">Arraste para mais</a>
        </div>

      </div>
    </section>

    <section class="container mt-5" id="sobre">

      <div class="row w-100">
        <div class="col-md-12" data-anime="down">
          <h2 class="pt-3">Sobre</h2>
          <p>Dedicado, estudioso e amante de tecnologia e desenvolvimento. Iniciei a carreira com a graduação em
            engenharia civil, vivendo experiências incríveis, como o intercâmbio para University College Dublin.
          </p>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-2">
          <img class="img-fluid shadow" src="../static/img/perfil.JPG" alt="Foto do Wagner" data-anime="left">
        </div>
        <div class="col-md-10">
          <h3>Vendedor Técnico</h3>
          <p>Gerencio uma carteira de clientes dos estados do RJ e ES; garantindo tanto a atração de novos quanto a
            satisfação de clientes da base em relação aos produtos das marcas Quick-Step e Floorest de pisos laminados e
            vinílicos. Auxilio estes empreendedores à alavancar suas vendas através de palestras e treinamentos para
            vendedores e profissionais do ramo da construção civil.</p>
          <h3>Líder de Interações à Distância</h3>
          <p>Atrai, desenvolvi e gerenciei um time que fazia atendimento ao cliente na Stone. Essas pessoas eram
            responsáveis pela retenção dos clientes de adquirência, negociando e ofertando novos produtos e serviços.
            Dessa forma precisei no meu dia-a-dia estudar indicadores de meta e atingimento, bem como gerir a qualidade
            do atendimento e direcionar meu time para o melhor atendimento ao cliente.</p>

          <div class="row">
            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">
                  Aniversário: <span class="fw-lighter">26 de janeiro de 1993</span>
                </li>
                <li class="list-group-item">
                  Idade: <span class="fw-lighter">29 anos</span>
                </li>
                <li class="list-group-item">
                  Cidade: <span class="fw-lighter">Rio de Janeiro</span>
                </li>
                <li class="list-group-item">
                  Estado: <span class="fw-lighter">RJ</span>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">
                  Hobby: <span class="fw-lighter">Futevôlei</span>
                </li>
                <li class="list-group-item">
                  Trabalho: <a href="https://www.unilin.com/en" target="_blank" class="fw-lighter" text-decoration-none
                    link-dark>Unilin</a> </li>
                <li class="list-group-item">
                  Tempo de experiência: <span class="fw-lighter">2 anos</span>
                </li>
                <li class="list-group-item">
                  Pretensões: <span class="fw-lighter">Ser dev back-end</span>
                </li>
              </ul>
            </div>
          </div>


        </div>
      </div>

      <p>Estagiei em locais que me ensinaram o impacto que podemos causar na vida de outras pessoas, como a área de
        orçamento de grandes obras na América Latina, em que vivenciei na Andrade Gutierrez. Me formei, toquei obras de
        reforma como autônomo ainda na área de engenharia civil, mas a paixão por ajudar ao próximo e me desenvolver me
        colocou no caminho da Stone, onde pude conhecer, aprender e ajudar centenas de empreendedores do Brasil. Hoje
        sigo ajudando-os, mas através dos produtos Unilin, para que empreendedores dos estados do RJ e ES possam
        oferecer o melhor em pisos laminados e vinílicos aos seus clientes.</p>
    </section>

    <section class="mt-5 section-bg" id="habilidades">

      <div class="container pb-5">
        <h2 class="pt-5">Habilidades</h2>
        <p>Em todo o tempo como profissional, adquiri algumas habilidades técnicas e não-técnicas, a maioria delas estão
          aqui, de acordo com a porcentagem de conhecimento que acredito ter em cada uma delas.</p>

        <div class="row">

          <div class="col-md-6">
            <p class="mt-3 mb-0">HTML</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" data-anime="left"
                data-anime="left" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>


            <p class="mt-3 mb-0">CSS</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>

            <p class="mt-3 mb-0">JAVASCRIPT</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">60%</div>
            </div>


            <p class="mt-3 mb-0">PYTHON</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>

            <p class="mt-3 mb-0">SQL</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>

            <p class="mt-3 mb-0">Git</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
          </div>

          <div class="col-md-6">
            <p class="mt-3 mb-0">Office</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>

            <p class="mt-3 mb-0">Vendas</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>

            <p class="mt-3 mb-0">Gerenciamento de Projetos</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>

            <p class="mt-3 mb-0">Salesforce</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>

            <p class="mt-3 mb-0">Inglês</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>

            <p class="mt-3 mb-0">Espanhol</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>

          </div>
        </div>

        <hr class="w-50 me-auto ms-auto mt-5">

        <div class="row">
          <div class="col-md-6">

            <p class="mt-3 mb-0">Liderança</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>

            <p class="mt-3 mb-0">Empatia</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>

            <p class="mt-3 mb-0">Proatividade</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>

            <p class="mt-3 mb-0">Resiliência</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
          </div>
          <div class="col-md-6">
            <p class="mt-3 mb-0">Comprometimento</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>

            <p class="mt-3 mb-0">Orientação a detalhes</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>

            <p class="mt-3 mb-0">Trabalho em equipe</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>

            <p class="mt-3 mb-0">Comunicação</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" data-anime="left"
                aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
          </div>

        </div>
      </div>
    </section>


    <section class="mt-5 cv" id="curriculo">

      <div class="container pb-5">
        <h2 class="pt-3 pb-4">Currículo</h2>

        <div class="row">
          <div class="col-md-6">
            <h3 class="cv-title">Educação</h3>

            <div class="cv-item" data-anime="up">
              <h4>MBA em Gerenciamento de projetos</h4>
              <h5>2018-2021</h5>
              <p><em>FGV - Fundação Getúlio Vargas</em></p>
              <p>Pós Graduação voltada à área de administração em gerenciamento de projetos com base no guia PMBOK</p>
            </div>

            <div class="cv-item" data-anime="up">
              <h4>Graduação em Engenharia Civil</h4>
              <h5>2011-2017</h5>
              <p><em>UFF - Universidade Federal Fluminense</em></p>
              <p>Graduação completa em Engenharia Civil com 1 ano e meio de intercâmbio através do programa Ciências sem
                fronteiras</p>
            </div>


          </div>

          <div class="col-md-6">
            <h3 class="cv-title">Profissão</h3>

            <div class="cv-item" data-anime="up">
              <h4>Vendedor Técnico</h4>
              <h5>2022-Atual</h5>
              <p><em>Unilin do Brasil</em></p>
              <p>Vendedor responsável pelas carteiras dos estados do RJ e ES, auxiliando empreendedores à entregar o
                melhor em pisos laminados e vinílicos para seus clientes.</p>
            </div>

            <div class="cv-item" data-anime="up">
              <h4>Líder de mesa</h4>
              <h5>2021-2022</h5>
              <p><em>Stone Co.</em></p>
              <p>Líder de mesa responsável pelo desenvolvimento e entrega de resultados de 12 pessoas que faziam o
                atendimento ao cliente, negociando e ofertando novos produtos.</p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="section-bg mt-5" id="portfolio">
      <div class="container pb-5 pt-5" data-anime="right">

        <h2 class="pb-4">Portfólio</h2>
        <div id="carouselPortfolio" class="carousel carousel-dark slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
              aria-label="Slide 2"></button>

          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card">
                    <img src="../static/img/img1.png" class="card-img-top" alt="Mulher ao lado de cadeado">
                    <div class="card-body">
                      <h5 class="card-title">Stage 02 - Explorer</h5>
                      <p class="card-text">Primeiro site criado, aprendido no curso Explorer do Rocketseat.</p>
                      <div class="d-flex justify-content-center"> <a
                          href="https://github.com/WCCFERREIRA/stage-02-desafio-avancado" target="_blank"
                          class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../static/img/banner.jpg" class="card-img-top" alt="Imagem de programador">
                    <div class="card-body">
                      <h5 class="card-title">Meu portfolio</h5>
                      <p class="card-text">Meu portfolio no github, a primeira vez que criei um portfolio.</p>
                      <div class="d-flex justify-content-center"> <a
                          href="https://github.com/WCCFERREIRA/Portfolio-Responsivo" target="_blank"
                          class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../static/img/OIP.jpg" class="card-img-top" alt="Coming soon">
                    <div class="card-body">
                      <h5 class="card-title">À ser desenvolvido 2</h5>
                      <p class="card-text">Incluirei futuramente.</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="carousel-item" data-bs-interval="2000">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card">
                    <img src="../static/img/OIP.jpg" class="card-img-top" alt="Coming soon">
                    <div class="card-body">
                      <h5 class="card-title">À ser desenvolvido 3</h5>
                      <p class="card-text">Incluirei futuramente.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../static/img/OIP.jpg" class="card-img-top" alt="Coming soon">
                    <div class="card-body">
                      <h5 class="card-title">À ser desenvolvido 4</h5>
                      <p class="card-text">Incluirei futuramente.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../static/img/OIP.jpg" class="card-img-top" alt="Coming soon">
                    <div class="card-body">
                      <h5 class="card-title">À ser desenvolvido 5</h5>
                      <p class="card-text">Incluirei futuramente.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>

    <section class="pt-5 pb-5" id="contato">

      <div class="container mb-5">
        <h2 class="pt-3 pb-3">Contato</h2>

        <div class="row">
          <div class="col-md-5">
            <div class="card p-5 shadow border-0" data-anime="up">
              <div class="endereco">
                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                <p>Copacabana, Rio de Janeiro, RJ</p>
              </div>

              <div class="email">
                <h4><i class="bi bi-envelope"></i> E-mail:</h4>
                <p>wccferreira@gmail.com</p>
              </div>

              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3673.329152826953!2d-43.192054862193864!3d-22.97492069448934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bd5469958ad93%3A0xf0a499ad4dee69af!2sAv.%20Atl%C3%A2ntica%2C%202936%20-%20Copacabana%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%2022070-000!5e0!3m2!1spt-BR!2sbr!4v1672777383921!5m2!1spt-BR!2sbr"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>

            </div>

          </div>

          <div class="col-md-7 mt-5 mt-md-0">
            <div class="card p-5 h-100 shadow border-0" data-anime="left">

              <form class="row g-3" action='/send' method="POST">
                <div class="col-md-6">
                  <label for="nome" class="form-label">Nome:</label>
                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite aqui seu nome"
                    required>
                </div>

                <div class="col-md-6">
                  <label for="email" class="form-label">E-mail:</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Digite aqui seu e-mail"
                    required>
                </div>

                <div class="col-12">
                  <label for="mensagem" class="form-label">Mensagem:</label>
                  <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10"
                    placeholder="Digite aqui sua mensagem" required></textarea>

                </div>
                <div class="col-12 d-flex justify-content-center mt-3">
                  <button id="btn-enviar" type="submit" class="btn btn-primary">Enviar</button>

                  <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Enviando...
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>

    </section>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
      <i class="bi bi-check-circle-fill"></i> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

  </main>

  <footer id="footer">
    <div class="container">
      <div class="text-center">
        &copy; Copyright <strong>Wagner Code</strong>
      </div>
    </div>

  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>
</body>

</html>